.row-fluid{:style => "margin-top: 15px;"}
  .alert.alert-info{:role => "alert"}
    %table{:border => "0", :width => "100%"}
      %tbody
        %tr
          %td
            %b Welcome to the Diaspora* Network! If you like it support us
            = succeed "." do
              %a.alert-link{:href => "http://zauberstuhl.de/donate", :target => "_blank"} with a small donation
          %td{:align => "right"}
            %a.btn.btn-info.media-object{:href => "http://zauberstuhl.de/donate", :role => "button", :target => "_blank"} Donate
        %tr
          %td{:colspan => "2", :style => "padding-top: 10px;"}
            .progress
              .progress
                - width = donationWidth()
                .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{width}", :role => "progressbar", :style => "width:#{width}%"}
                  #{width}%
