.alert{class: "alert-danger",:role => "alert",:style => "margin-top: 15px;"}
  %b Welcome to the Diaspora* Network! If you like it support us
  = succeed "." do
    %a.alert-link{:href => "https://donorbox.org/matt", :target => "_blank"} with a small donation
  %script{:src => "https://donorbox.org/widget.js", :type => "text/javascript"}
  %iframe{:frameborder => "0",
    :height => "100px", :name => "donorbox",
    :scrolling => "no", :seamless => "seamless",
    :src => "https://donorbox.org/embed/matt?only_donation_meter=true&donation_meter_color=%23d9534f",
    :style => "max-width:500px; min-width:215px; max-height:none!important",
    :width => "100%"}
  %a.btn.media-object{class: "btn-danger",
    :href => "https://donorbox.org/matt",
    :role => "button", :style => "color:#fff",
    :target => "_blank"} Donate
