:css
  h1 {
    font-size: 45px;
  }
  #steps {
    text-align: center;
  }
  .row {
    margin-bottom: 60px;
  }
  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  .btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

#steps.row
  .span4
    %h1
      D I A S P O R A *
    %h3
      The community-run Distributed Social-network

#steps.row
  .span4
    = link_to 'Login', '/users/sign_in', class: "btn btn-success"
    = link_to 'Register', '/users/sign_up/', class: "btn btn-primary"
