	<style type="text/css">
		body {
			margin-top: 50px;
			background-color: white;
			background-image : none;
		}

		li {
			list-style: none;
		}

    h1 {
      font-size: 45px;
    }

		#steps {
			text-align: center;
		}

		#links {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		#links .section {
			margin: 0;
			padding: 0;
			display: inline-block;
			vertical-align: top;
			width: 24%;
			max-width: 24%;
		}

		#change-page {
			color: #999;
			text-align: center;
			font-style: italic;
		}

    #info {
      width: 100%;
      overflow: hidden;
    }

    #info .row {
      float: left;
      width: 33.333%;
    }

		.helpful {
			cursor: help;
		}

		.row {
			margin-bottom: 60px;
		}

    .btn-success {
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
    }
    
    .btn-primary {
      color: #fff;
      background-color: #3276b1;
      border-color: #285e8e;
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.428571429;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    </style>

  <div id="steps" class="row">
    <div class="span4">
      <h1>D I A S P O R A *</h1>
      <h3>The community-run Distributed Social-network</h3>
    </div>
  </div>

  <div id="steps" class="row">
    <div class="span4">
      <a href="login"><button class="btn btn-success">Login</button></a>
      <a href="users/sign_up"><button class="btn btn-primary">Register</button></a>
    </div>
  </div>


  <div id="steps" class="row">
    <div class="span4">
      <h3>What is Diaspora*!?</h3>
      <pre style="white-space:pre-wrap">Diaspora (currently styled diaspora* and formerly styled DIASPORA*) is a free personal web server that implements a distributed social networking service. Installations of the software form nodes (termed "pods") which make up the distributed Diaspora social network. The project was founded by Dan Grippi, Maxwell Salzberg, Raphael Sofaer and Ilya Zhitomirskiy, students at New York University's Courant Institute of Mathematical Sciences. The group received crowdfunding in excess of $200,000 via Kickstarter. A consumer alpha version was released on November 23, 2010.</pre>
      <a href="http://en.wikipedia.org/wiki/Diaspora_%28software%29">Learn More about Diaspora*</a>
    </div>
  </div>

  <div id="steps" class="row">
    <div class="span4">
      <h3>What means Sechat*!?</h3>
      <pre style="white-space:pre-wrap">In Egyptian mythology, Seshat (also spelled Safkhet, Sesat, Seshet, Sesheta, and Seshata) was the Ancient Egyptian goddess of wisdom, knowledge, and writing. She was seen as a scribe and record keeper, and her name means she who scrivens (i.e. she who is the scribe), and is credited with inventing writing.</pre>
      <hr />
    </div>
  </div>

