body {
  margin-top: 50px;
  background-color: white;
  background-image : none;
}

li {
  list-style: none;
}

#header {
  /* Hack to hide the header */
  box-shadow:none;
  border:none;
  background:none;

  left: 0px;
  padding: 15px 0px;
}

#header img {
  margin-left: 15px;
}

#login-link {
  float: right;
  margin-right: 15px;
}

#steps {
  text-align: center;
}

#banner {
  border-bottom : 1px solid #ccc;
  border-top : 1px solid #eee;
  padding : 30px;
  margin-top: 20px;
  text-align: center;

  box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
}

#links {
  margin: 0;
  padding: 0;
  text-align: center;
}

#links .section {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  max-width: 24%;
}

#change-page {
  color: #999;
  text-align: center;
  font-style: italic;
}

.helpful {
  cursor: help;
}

.row {
  margin-bottom: 60px;
}

/* line 2, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing {
  overflow: hidden;
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* line 48, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #invites {
  margin: 20px 0;
}

/* line 62, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner {
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;
  color: #ccc;
  background: #222;
}

/* line 63, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner .container {
  position: relative;
}

/* line 73, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner h2 {
  font-weight: 100;
}

/* line 77, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner .landing-logo {
  margin-bottom: 15px;
  height: 60px;
}

/* line 82, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner .landing-banner-right {
  position: absolute;
  right: 0;
}

/* line 86, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner .landing-banner-right a {
  color: #ccc;
  font-size: 1.2em;
  font-weight: 100;
  padding: 5px 10px;
}

/* line 94, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner .login-button {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #666666;
  background: #111;
}

/* line 99, ../../app/assets/stylesheets/new_styles/_landing.scss */
#landing #landing_banner .login-button:hover {
  background: #222;
  border: 1px solid #999999;
  text-decoration: none;
}

header {
  display:none;
}
